<section>
	<div>
		<h4 style="padding-left:10px;color:blue;">Hello {{ user.username }},</h4>
		<p style="font-familly:cursive; font-size:bold;">
			Finally, finally finally. the rock is come back tooooo Home. 
			suuuuuuuuuuuur.
		</p>
		<p style="font-size:bold; color:teal; text-align:center; ">
			Clique sur le lien ci-dessous pour réinitialiser votre mot de pass
		</p>
		<p>
			<a href={{ "http://localhost:8000/user/reset-password?token=" ~ token}}
               style="
                text-decoration:none;
                background-color: darkorange;
                border-radius: 30px;
                translation: 0.5s;
                padding:20px;
                text-align:center;
                margin-left:100px;
                margin-top:50px;
                font-size:bold;
               " 
			>i wanna new password</a>
		</p>
	</div>
</section>